Γùç injected env (21) from .env // tip: Γîÿ suppress logs { quiet: true }
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "CandidateStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'HIRED', 'REJECTED', 'ON_HOLD');

-- CreateEnum
CREATE TYPE "InterviewStatus" AS ENUM ('SCHEDULED', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED', 'NO_SHOW', 'RESCHEDULED');

-- CreateEnum
CREATE TYPE "InterviewType" AS ENUM ('TECHNICAL', 'HR', 'MANAGERIAL', 'BEHAVIORAL', 'CUSTOM');

-- CreateEnum
CREATE TYPE "InterviewPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "MeetingProvider" AS ENUM ('TEAMS', 'ZOOM', 'GOOGLE_MEET', 'IN_PERSON', 'CUSTOM');

-- CreateEnum
CREATE TYPE "ParticipantRole" AS ENUM ('PANELIST', 'RECRUITER', 'HIRING_MANAGER', 'CANDIDATE', 'OBSERVER');

-- CreateEnum
CREATE TYPE "MeetingResponse" AS ENUM ('ACCEPTED', 'TENTATIVE', 'DECLINED', 'NO_RESPONSE');

-- CreateEnum
CREATE TYPE "AvailabilityType" AS ENUM ('FREE', 'BUSY', 'TENTATIVE', 'OUT_OF_OFFICE', 'WORKING_ELSEWHERE');

-- CreateEnum
CREATE TYPE "FreeBusyStatus" AS ENUM ('FREE', 'BUSY', 'TENTATIVE', 'OUT_OF_OFFICE', 'WORKING_ELSEWHERE');

-- CreateEnum
CREATE TYPE "WebhookSyncStatus" AS ENUM ('NONE', 'SUBSCRIBED', 'RECEIVED', 'PROCESSED', 'FAILED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('EMAIL', 'BROWSER', 'TEAMS', 'SMS');

-- CreateEnum
CREATE TYPE "NotificationStatus" AS ENUM ('PENDING', 'SENT', 'FAILED', 'SKIPPED');

-- CreateEnum
CREATE TYPE "AssetStatus" AS ENUM ('PENDING', 'PROCESSING', 'UPLOADED', 'FAILED', 'UNAVAILABLE');

-- CreateEnum
CREATE TYPE "WebhookStatus" AS ENUM ('RECEIVED', 'PROCESSING', 'QUEUED', 'PROCESSED', 'FAILED', 'IGNORED');

-- CreateEnum
CREATE TYPE "OutboxStatus" AS ENUM ('PENDING', 'PROCESSING', 'DELIVERED', 'FAILED', 'DEAD');

-- CreateEnum
CREATE TYPE "DeadLetterStatus" AS ENUM ('PENDING', 'RETRIED', 'RESOLVED', 'IGNORED');

-- CreateTable
CREATE TABLE "tenants" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(200) NOT NULL,
    "domain" VARCHAR(255) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "organizations" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "tenant_id" UUID NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "candidates" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "legacy_mongo_id" VARCHAR(24),
    "tenant_id" UUID,
    "organization_id" UUID,
    "name" VARCHAR(150) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(30),
    "job_role" VARCHAR(100) NOT NULL,
    "years_of_experience" INTEGER NOT NULL DEFAULT 0,
    "resume_url" TEXT,
    "status" "CandidateStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_by" VARCHAR(255),
    "updated_by" VARCHAR(255),
    "deleted_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "candidates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "skills" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "candidate_skills" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "candidate_id" UUID NOT NULL,
    "skill_id" UUID NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "candidate_skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interviews" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "legacy_mongo_id" VARCHAR(24),
    "tenant_id" UUID,
    "organization_id" UUID,
    "candidate_id" UUID NOT NULL,
    "teams_meeting_id" VARCHAR(500),
    "meeting_join_url" TEXT,
    "normalized_meeting_key" VARCHAR(300),
    "meeting_provider" "MeetingProvider" NOT NULL DEFAULT 'TEAMS',
    "graph_event_id" VARCHAR(500),
    "online_meeting_id" VARCHAR(500),
    "subscription_id" VARCHAR(100),
    "webhook_status" "WebhookSyncStatus" NOT NULL DEFAULT 'NONE',
    "title" VARCHAR(300),
    "type" "InterviewType" NOT NULL DEFAULT 'TECHNICAL',
    "priority" "InterviewPriority" NOT NULL DEFAULT 'MEDIUM',
    "round" INTEGER NOT NULL DEFAULT 1,
    "department" VARCHAR(100),
    "instructions" TEXT,
    "meeting_notes" TEXT,
    "meeting_category" VARCHAR(100),
    "meeting_color" VARCHAR(20),
    "is_private" BOOLEAN NOT NULL DEFAULT false,
    "free_busy_status" "FreeBusyStatus" NOT NULL DEFAULT 'BUSY',
    "travel_buffer_minutes" INTEGER NOT NULL DEFAULT 0,
    "organizer_email" VARCHAR(255) NOT NULL,
    "interviewer_email" VARCHAR(255),
    "scheduled_time" TIMESTAMP(3) NOT NULL,
    "duration_minutes" INTEGER NOT NULL DEFAULT 60,
    "timezone_name" VARCHAR(100) NOT NULL DEFAULT 'UTC',
    "timezone_offset" INTEGER NOT NULL DEFAULT 0,
    "recurrence_rule" TEXT,
    "recurrence_end_date" TIMESTAMP(3),
    "parent_interview_id" UUID,
    "recurrence_instance_id" UUID,
    "series_version" INTEGER NOT NULL DEFAULT 1,
    "exception_dates" JSONB NOT NULL DEFAULT '[]',
    "status" "InterviewStatus" NOT NULL DEFAULT 'SCHEDULED',
    "recording_status" "AssetStatus" NOT NULL DEFAULT 'PENDING',
    "transcript_status" "AssetStatus" NOT NULL DEFAULT 'PENDING',
    "created_by" VARCHAR(255),
    "updated_by" VARCHAR(255),
    "deleted_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "interviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interview_participants" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "interview_id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "name" VARCHAR(150),
    "role" "ParticipantRole" NOT NULL DEFAULT 'PANELIST',
    "response_status" "MeetingResponse" NOT NULL DEFAULT 'NO_RESPONSE',
    "is_required" BOOLEAN NOT NULL DEFAULT true,
    "timezone_name" VARCHAR(100),
    "timezone_offset" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),
    "created_by" VARCHAR(255),
    "updated_by" VARCHAR(255),

    CONSTRAINT "interview_participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_availability" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "email" VARCHAR(255) NOT NULL,
    "date" DATE NOT NULL,
    "start_time" TIMESTAMP(3) NOT NULL,
    "end_time" TIMESTAMP(3) NOT NULL,
    "availability_type" "AvailabilityType" NOT NULL DEFAULT 'BUSY',
    "source" VARCHAR(50) NOT NULL DEFAULT 'MANUAL',
    "timezone_name" VARCHAR(100) NOT NULL DEFAULT 'UTC',
    "is_recurring" BOOLEAN NOT NULL DEFAULT false,
    "recurrence_rule" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),
    "created_by" VARCHAR(255),
    "updated_by" VARCHAR(255),

    CONSTRAINT "user_availability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interview_notifications" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "interview_id" UUID NOT NULL,
    "recipient_email" VARCHAR(255) NOT NULL,
    "type" "NotificationType" NOT NULL,
    "status" "NotificationStatus" NOT NULL DEFAULT 'PENDING',
    "remind_at" TIMESTAMP(3),
    "sent_at" TIMESTAMP(3),
    "error_message" TEXT,
    "payload" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "interview_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "interview_assets" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "interview_id" UUID NOT NULL,
    "candidate_id" UUID NOT NULL,
    "tenant_id" UUID,
    "recording_s3_key" TEXT,
    "recording_status" "AssetStatus" NOT NULL DEFAULT 'PENDING',
    "transcript_s3_key" TEXT,
    "transcript_status" "AssetStatus" NOT NULL DEFAULT 'PENDING',
    "logs" JSONB NOT NULL DEFAULT '[]',
    "created_by" VARCHAR(255),
    "updated_by" VARCHAR(255),
    "deleted_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "interview_assets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "graph_subscriptions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "tenant_id" UUID,
    "subscription_id" VARCHAR(100) NOT NULL,
    "expiration_date_time" TIMESTAMP(3) NOT NULL,
    "client_state" VARCHAR(255) NOT NULL,
    "creator_id" VARCHAR(255),
    "notification_url" TEXT NOT NULL,
    "resource" VARCHAR(500) NOT NULL,
    "change_type" VARCHAR(100) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "renewed_at" TIMESTAMP(3),
    "created_by" VARCHAR(255),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "graph_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webhook_events" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "tenant_id" UUID,
    "change_id" VARCHAR(300) NOT NULL,
    "subscription_id" VARCHAR(100) NOT NULL,
    "resource" VARCHAR(500) NOT NULL,
    "change_type" VARCHAR(100) NOT NULL,
    "resource_data" JSONB,
    "raw_payload" JSONB,
    "status" "WebhookStatus" NOT NULL DEFAULT 'RECEIVED',
    "error_message" TEXT,
    "created_by" VARCHAR(255),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "webhook_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "outbox_events" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "event_type" VARCHAR(100) NOT NULL,
    "payload" JSONB NOT NULL,
    "status" "OutboxStatus" NOT NULL DEFAULT 'PENDING',
    "retry_count" INTEGER NOT NULL DEFAULT 0,
    "error" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processed_at" TIMESTAMP(3),

    CONSTRAINT "outbox_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "tenant_id" UUID,
    "entity" VARCHAR(100) NOT NULL,
    "entity_id" UUID NOT NULL,
    "action" VARCHAR(100) NOT NULL,
    "actor" VARCHAR(255) NOT NULL,
    "payload" JSONB,
    "ip_address" VARCHAR(45),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dead_letter_jobs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "job_name" VARCHAR(200) NOT NULL,
    "queue_name" VARCHAR(200) NOT NULL,
    "payload" JSONB NOT NULL DEFAULT '{}',
    "error_message" TEXT,
    "stack_trace" TEXT,
    "retry_count" INTEGER NOT NULL DEFAULT 0,
    "status" "DeadLetterStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolved_at" TIMESTAMP(3),

    CONSTRAINT "dead_letter_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_name_key" ON "tenants"("name");

-- CreateIndex
CREATE UNIQUE INDEX "tenants_domain_key" ON "tenants"("domain");

-- CreateIndex
CREATE INDEX "org_tenant_idx" ON "organizations"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "candidates_legacy_mongo_id_key" ON "candidates"("legacy_mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "candidates_email_key" ON "candidates"("email");

-- CreateIndex
CREATE INDEX "candidate_email_idx" ON "candidates"("email");

-- CreateIndex
CREATE INDEX "candidate_status_deleted_idx" ON "candidates"("status", "deleted_at");

-- CreateIndex
CREATE INDEX "candidate_job_role_deleted_idx" ON "candidates"("job_role", "deleted_at");

-- CreateIndex
CREATE UNIQUE INDEX "skills_name_key" ON "skills"("name");

-- CreateIndex
CREATE INDEX "candidate_skill_candidate_idx" ON "candidate_skills"("candidate_id");

-- CreateIndex
CREATE INDEX "candidate_skill_skill_idx" ON "candidate_skills"("skill_id");

-- CreateIndex
CREATE UNIQUE INDEX "candidate_skills_candidate_id_skill_id_key" ON "candidate_skills"("candidate_id", "skill_id");

-- CreateIndex
CREATE UNIQUE INDEX "interviews_legacy_mongo_id_key" ON "interviews"("legacy_mongo_id");

-- CreateIndex
CREATE UNIQUE INDEX "interviews_teams_meeting_id_key" ON "interviews"("teams_meeting_id");

-- CreateIndex
CREATE UNIQUE INDEX "interviews_normalized_meeting_key_key" ON "interviews"("normalized_meeting_key");

-- CreateIndex
CREATE INDEX "interview_candidate_deleted_idx" ON "interviews"("candidate_id", "deleted_at");

-- CreateIndex
CREATE INDEX "interview_candidate_schedule_idx" ON "interviews"("candidate_id", "scheduled_time" DESC);

-- CreateIndex
CREATE INDEX "interview_status_schedule_idx" ON "interviews"("status", "scheduled_time" DESC, "deleted_at");

-- CreateIndex
CREATE INDEX "interview_meeting_key_idx" ON "interviews"("normalized_meeting_key");

-- CreateIndex
CREATE INDEX "interview_start_time_idx" ON "interviews"("scheduled_time");

-- CreateIndex
CREATE INDEX "interview_parent_idx" ON "interviews"("parent_interview_id");

-- CreateIndex
CREATE INDEX "interview_type_deleted_idx" ON "interviews"("type", "deleted_at");

-- CreateIndex
CREATE INDEX "interview_dept_deleted_idx" ON "interviews"("department", "deleted_at");

-- CreateIndex
CREATE INDEX "participant_interview_idx" ON "interview_participants"("interview_id");

-- CreateIndex
CREATE INDEX "participant_email_idx" ON "interview_participants"("email", "deleted_at");

-- CreateIndex
CREATE INDEX "participant_interview_email_idx" ON "interview_participants"("interview_id", "email");

-- CreateIndex
CREATE INDEX "availability_email_idx" ON "user_availability"("email", "deleted_at");

-- CreateIndex
CREATE INDEX "availability_email_date_idx" ON "user_availability"("email", "date");

-- CreateIndex
CREATE INDEX "availability_time_range_idx" ON "user_availability"("email", "start_time", "end_time");

-- CreateIndex
CREATE INDEX "notification_interview_idx" ON "interview_notifications"("interview_id");

-- CreateIndex
CREATE INDEX "notification_pending_idx" ON "interview_notifications"("status", "remind_at");

-- CreateIndex
CREATE UNIQUE INDEX "interview_assets_interview_id_key" ON "interview_assets"("interview_id");

-- CreateIndex
CREATE INDEX "asset_interview_idx" ON "interview_assets"("interview_id");

-- CreateIndex
CREATE INDEX "asset_candidate_idx" ON "interview_assets"("candidate_id");

-- CreateIndex
CREATE UNIQUE INDEX "graph_subscriptions_subscription_id_key" ON "graph_subscriptions"("subscription_id");

-- CreateIndex
CREATE INDEX "subscription_active_expiry_idx" ON "graph_subscriptions"("is_active", "expiration_date_time");

-- CreateIndex
CREATE INDEX "subscription_id_idx" ON "graph_subscriptions"("subscription_id");

-- CreateIndex
CREATE UNIQUE INDEX "webhook_events_change_id_key" ON "webhook_events"("change_id");

-- CreateIndex
CREATE INDEX "webhook_change_id_idx" ON "webhook_events"("change_id");

-- CreateIndex
CREATE INDEX "webhook_subscription_id_idx" ON "webhook_events"("subscription_id");

-- CreateIndex
CREATE INDEX "webhook_status_idx" ON "webhook_events"("status");

-- CreateIndex
CREATE INDEX "webhook_created_at_idx" ON "webhook_events"("created_at" DESC);

-- CreateIndex
CREATE INDEX "outbox_pending_idx" ON "outbox_events"("status", "created_at");

-- CreateIndex
CREATE INDEX "audit_entity_idx" ON "audit_logs"("entity", "entity_id");

-- CreateIndex
CREATE INDEX "audit_actor_idx" ON "audit_logs"("actor");

-- CreateIndex
CREATE INDEX "audit_created_at_idx" ON "audit_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "dlq_queue_name_idx" ON "dead_letter_jobs"("queue_name");

-- CreateIndex
CREATE INDEX "dlq_status_idx" ON "dead_letter_jobs"("status");

-- CreateIndex
CREATE INDEX "dlq_created_at_idx" ON "dead_letter_jobs"("created_at" DESC);

-- AddForeignKey
ALTER TABLE "organizations" ADD CONSTRAINT "organizations_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "candidate_skills" ADD CONSTRAINT "candidate_skills_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "candidates"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "candidate_skills" ADD CONSTRAINT "candidate_skills_skill_id_fkey" FOREIGN KEY ("skill_id") REFERENCES "skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interviews" ADD CONSTRAINT "interviews_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "candidates"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interviews" ADD CONSTRAINT "interviews_parent_interview_id_fkey" FOREIGN KEY ("parent_interview_id") REFERENCES "interviews"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interview_participants" ADD CONSTRAINT "interview_participants_interview_id_fkey" FOREIGN KEY ("interview_id") REFERENCES "interviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interview_notifications" ADD CONSTRAINT "interview_notifications_interview_id_fkey" FOREIGN KEY ("interview_id") REFERENCES "interviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interview_assets" ADD CONSTRAINT "interview_assets_interview_id_fkey" FOREIGN KEY ("interview_id") REFERENCES "interviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

